.about {
    background: linear-gradient(to top, #785001cd,  #b25733ba), url("../assets/wp5146853-graffiti-4k-mobile-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    margin-bottom: 60px;
    
     -ms-overflow-style: none; 
    scrollbar-width: none; 
    &::-webkit-scrollbar {
        display: none;
    }
    
    .about-container {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-photo {
        width: 100px;
        height: 100px;
        border-radius:50%;
    }

    .about-skills { 
        width: 100%;
        height: 100vh;
    
        @media only screen and (min-width:915px) {
            background-image: url("../assets/dark-coder.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
       
        .text-container-1 {
            width: 80%;
            height: 30%;
            color:white;
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            .about-h3 {
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                text-align: center;
            }
                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    width: 80%;
     
                }
        }
  
    }
    h3 {
        text-align: center;
        color: white;
        font-family: 'Roboto',sans-serif;
    }
     .skills {
        color: white;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-around;
    
     }

} 

@media only screen and (min-width:915px) {
    .about {
        background:url("../assets/dark-coder.jpg");
        overflow-y: hidden;
        margin-bottom: 0;
    }
 
}
 
