
.home-name {
    width: 75%;
    height: 35%;
    @media only screen and (min-width:668px) {
        height: 30%;
        width:65%;
    }
    @media only screen and (min-width:915px) {
        height: 50%;
        width:40%;
        margin-top:2rem;
    }
}
.home {
    background-image: url("../assets/wp5146853-graffiti-4k-mobile-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    @media only screen and (min-width:915px) {
        background-image:url("../assets/macbook.jpg") ;
    }

    .home-top {
        display: flex;
        height: 50%;
        width: 100%;
        margin-top: 1rem;  
    }
    .home-bottom {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: rem;
        height: 35%;
        width: 100%;
        @media only screen and (min-width:915px) {
            margin-top: 5rem;
        }
    }

    .home-jobTitle {
        width: 60%;
        height:40%;
        @media only screen and (min-width:668px) {
            width: 40%;
            height: 40%;
        }
        @media only screen and (min-width:915px) {
            margin-top: 30rem;
            height: 50%;
            width:30%
        }
    }
    .download-button {
       display: flex;
       justify-content: flex-end;
       margin-bottom: 4rem; 
       margin-right: 3rem;
    }
}
