.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(57, 57, 68);
  position: fixed;
  bottom: 0;
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 18px;
  }
  @media only screen and (min-width:915px) {
    top: 0;
    justify-content: space-between;
    padding-right: 20px;
    background: linear-gradient(45deg, black, rgb(16, 54, 57), rgb(255, 72, 0));
  }

  .nav-btns {
    text-decoration: none;
    color: white;

    :hover {
      color: black;
    }

    p {
      margin-top: 1rem;
      padding-right: 10px;
    }
  }

  .icon-large {
    width: 80%;
    height: 30px;
    color: white;


    :hover {
      color: rgb(255, 72, 0);
    }

    @media only screen and (min-width:915px) {
      margin-right: .5rem;
    }

  }
  .out-links {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-left: 2rem;

  }
  .in-links {
    display: flex;
  }
  .projects-title {
    width: 60%;
    height: 60%;

    @media only screen and (min-width:915px) {
      width: 30%;
      height: 30%;
      margin-right: 10rem;
    }
  }
}